.table.fade {
  animation: fadeOut 0.5s forwards;
}
.table {
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  animation: fadeIn 0.5s forwards;
}
thead {
  font-weight: 500;
  border-bottom: 1px solid #000;
}
thead td {
  cursor: pointer;
}
td {
  padding: 5px;
  text-align: center;
}
tbody td:not(:nth-child(1)) {
  border-left: 1px solid rgb(177, 177, 177);
}
tbody tr:not(:last-child) {
  border-bottom: 1px solid rgb(177, 177, 177);
  overflow: hidden;
}
tbody tr:hover {
  background: #ff6a0077;
}
tbody tr:nth-child(6) {
  border-left: none;
}
tbody button {
  padding: 5px;
  cursor: pointer;
}
